<%- include('header'); %> 
<header>
  <h1>Ntalk</h1>
  <h4>Aconteceu algo terrível</h4>
</header>

<p>Veja os detalhes do erro:

  <br>
  <%- message %> 
</p>

<p>Que tal voltar <a href="/">página principal</a></p>

<%- include('footer'); %>